name: Update and Verify IPTV Sources
on: workflow_dispatch

jobs:
  update-iptv:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y ffmpeg curl

      - name: Run IPTV Script
        run: |
          mkdir -p scripts dist
          chmod 777 ./scripts/iptv-checker.sh
          /bin/bash ./scripts/iptv-checker.sh

      - name: Push Updates
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "bot@noreply.github.com"
          git add dist/
          git commit -m "Auto-update IPTV $(date)" || echo "No changes"
          git push https://$PAT_TOKEN@github.com/pattonme/iptv-service.git main --force
